[Unit]
Description=Sample Shustrik workers every 15 seconds
[Timer]
OnBootSec=20s
OnUnitActiveSec=15s
AccuracySec=1s
Unit=shustrik-worker-sample.service
[Install]
WantedBy=timers.target
